# ignore all rom files
baseroms/*
*.z64
*.n64
*.v64

#compiled or ripped asm
asm/*
asm
asm_jpn_v1
asm_jpn_V1/*
asm_pal_v1
asm_pal_v1/*
build/*
build/
build_jpn_v1/*
build_jpn_V1/
build_pal_v1/*
build_pal_v1/
asm_us_v2
asm_us_v2/*
asm_pal_v2
asm_pal_v2/*
build_us_v2/*
build_us_v2/
build_pal_v2/*
build_pal_v2/

#binaries ripped from the ROMs
assets/
assets/*
assets_*/
assets_*/*
bin/
bin/*

#compiled object files
*.slo
*.lo
*.o
*.obj

#Precompiled Headers
*.gch
*.pch

#compiled dynamic libraries
*.so
*.dylib
*.dll

#static libraries
*.lai
*.la
*.a
*.lib

#misc
__pycache__/
*__pycache__/
expected/
.*/
*.ld
*/*.ld
*.map
*/*.map
*auto.txt
*_auto.*.txt
*.*auto.txt
*/.splat_cache
.splat_cache
.splat_cache*
ctx.c
ctx.c.m2c
ctx_includes.c
tools/n64crc
!tools/build
m2cfiles/